[2012-09-29 18:31] martenbohlin opened #2 "build is hardcoded as project buildDir for saveservice.properties and upgrade.properties"
The following patch lets you use this plugin even if you have a custom project.buildDir

[code]

[2012-09-29 18:34] martenbohlin opened #3 "Traget to launch GUI"
It would be great to have a target to launch the GUI. So that you do not have to have another installation of JMeter to build your tests.

[2012-10-01 15:16] #2 closed, assigned to nobody

[2012-10-03 17:38] martenbohlin opened #5 "Exceptions at JMeter startup"
Do you also get two exceptions at startup?

I get these exceptions at startup. This is not major but inconvenient.

[code]

If you also get this and do not have any good workarounds then I could try and submit a patch to the JMeter project.

[2012-10-09 15:23] kulya opened #6 "Add dependency for jmeter 2.8"

[2012-10-09 20:21] #3 closed, assigned to nobody

[2012-10-10 16:51] #6 closed, assigned to kulya

[2012-11-29 05:58] drajbanshi opened #7 "Runtime Exception: Could not read Jmeter properties file. while exceuting gradle jmeterRun. what am i missing?"

[2012-11-30 03:51] #7 closed, assigned to nobody

[2013-04-08 19:28] vlaadbrain opened #8 "JmeterRunTask 2.8 waiting for a line in the log that doesn't exist"
Below you can see how with version 1.3-2.8 of the jmeter plugin the JMeterRunTask gets stuck while exiting because its looking for an entry in the log that doesn't exist with version 2.8

JMeter Log. ...
2013/04/08 15:15:34 INFO  - jmeter.save.SaveService: Testplan (JMX) version: 2.2. Testlog (JTL) version: 2.2
2013/04/08 15:15:34 INFO  - jmeter.save.SaveService: Using SaveService properties file

[2013-04-08 19:40] vlaadbrain opened #9 "plugin complains about the existence of /lib/ext and lib/junit within the gradle local repo"
## The build.gradle file looks just like the readme.  with the exception of an actual test case.
## below are the two exceptions

C:\Users\foo\CJT\JMeterExamples\plugin>gradle jmeterRun
:jmeterRun
java.lang.Throwable: Could not access C:\Users\foo\CJT\utils\gradle-1.3\lib\ext
        at org.apache.jmeter.NewDriver.<clinit>(NewDriver.java:98)
        at org.apache.jmeter.JMeter.updatePath(JMeter.ja

[2013-04-09 13:30] #9 closed, assigned to nobody

[2013-04-09 13:55] vlaadbrain opened #10 "building with other artifactory yields "ClassNotFoundError for org/apache/jmeter/NewDriver""
I've been trying to add new parameters to the plugin, but i'm having trouble building it against my repo which has _ApacheJMeter_ jars.
the build file below builds the necessary jar, but when i run it i get the error further below

ClassNotFoundError for org/apache/jmeter/NewDriver

[code]
# error truncated

i get the search_path but that doesn't seem to fix the problem.  which is while parsing th

[2013-04-17 00:13] ekrupnik opened #15 "Pass JMeter command line options"
Unable to pass command line options - example of original JMeter call below:

jmeter -t C:\Users\ek\Desktop\cs\tests\er.jmx -Jname=er-Jusers=1 -Jloops=1 -Jhost=host.company.com -Jport=8080 -Jbase.url=rest/rest-api -Jbase.dir=C:\Users\ek\Desktop\cs

How would this work using the available options in JMeter-Gradle plugin?

[2013-04-18 18:19] codedude10 opened #17 "CSV Data Config"
Hi,

I have a JMeter test plan which uses the included CSV Data Config in the test plan. When I run via gradle I get the following errors. This is AFTER I added the /ext and /junit to my gradle/libs folder to fix those errors, as mentioned in issue #9.

Any ideas? Log is below.

Thank you.

2013/04/18 14:03:52 WARN  - jmeter.testbeans.BeanInfoSupport: Localized strings not available for bean class

[2013-04-19 14:38] rogerade opened #18 "Publish to Maven Central"
Could you publish the plugin to mavenCentral?
This should aid in getting it approved for use in some firms.

[2013-04-22 13:06] #15 closed, assigned to nobody

[2013-04-23 21:16] #18 closed, assigned to kulya

[2013-06-19 21:41] rabbitmqguru opened #19 "Any way to change memory heap size for this plugin?"

[2013-06-25 17:28] #5 closed, assigned to kulya

[2013-07-10 13:17] michaelpisula opened #20 "Add jmeter plugins"
I tried adding a jmeter plugin by using:

[code]

This did not work. The foobar.jar was also specified as a dependency. Probably this is not as much a bug, as a lack of documentation. Would be great if you could help me out.

[2013-07-10 15:13] #20 closed, assigned to nobody

[2013-08-29 22:13] rgururaj opened #21 "Latest code looks for saveservice.properties in the working folder"
Latest code looks for saveservice.properties in the working folder rather than workDir/${buildDir}/jmeter/

2013/08/29 15:08:46 FATAL - jmeter.save.SaveService: Bad saveservice properties file java.io.FileNotFoundException: /root/XYModule/saveservice.properties (No such file or directory)
        at java.io.FileInputStream.open(Native Method)
        at java.io.FileInputStream.<init>(FileInputStre

[2013-08-30 03:21] #21 closed, assigned to nobody

[2013-09-02 10:35] nigelcharman opened #22 "Small typo in documentation"
Just a minor issue, but it caught me out first time.

In the README, for 1.3.1 and above, the text "apply plugin: 'jmeter'" should be in the code block.

**Currently showing:**

If it is 1.3.1 and above
    apply plugin: 'jmeter'

[code]

**Should be:**

If it is 1.3.1 and above

[code]

[2013-09-19 02:20] rgururaj opened #23 "Adding groovy-all jar to use for BSF components"
Should I use groovy-all jar as a plugin jar? or add to classpath?
I tried both and always got below error:

:jmeterEditor
Exception :
java.lang.NoClassDefFoundError: org/apache/bsf/util/BSFEngineImpl
    at java.lang.ClassLoader.defineClass1(Native Method)
    at java.lang.ClassLoader.defineClassCond(ClassLoader.java:631)
    at java.lang.ClassLoader.defineClass(ClassLoader.java:615)
    at java.s

[2013-09-19 03:09] #23 closed, assigned to nobody

[2013-10-01 07:57] narramadan opened #24 "jMeter Java Request Sampler"
Hi,

I am trying to use Java Request Sampler with jMeter. Had bundled a class which extends 'AbstractJavaSamplerClient' and placed the jar under '{MY_PROJECT}\build\jmeter\lib\ext'.

Java Sampler class is not getting displayed when Java Request Sampler is added to a ThreadGroup.

Tried adding this jar in {JMETER_DIST}\lib\ext and was able to see my class.

Is there any thing I am missing out ?

Th

[2013-10-16 16:15] #8 closed, assigned to kulya

[2013-10-16 16:16] #19 closed, assigned to kulya

[2013-10-16 16:17] #22 closed, assigned to nobody

[2013-10-16 16:18] #10 closed, assigned to kulya

[2013-10-17 10:25] dtpmalone opened #25 "Can't transfrorm result"
[code]

[code]

[2013-10-20 07:12] rgururaj opened #26 "1.3.2-2.9 version - jmeterEditor fails"
Bails with below error, and there is no jmeter.log in the build folder.

FAILURE: Build failed with an exception.
00:10:44.666 [ERROR] [org.gradle.BuildExceptionReporter]
00:10:44.666 [ERROR] [org.gradle.BuildExceptionReporter] \* What went wrong:
00:10:44.666 [ERROR] [org.gradle.BuildExceptionReporter] Execution failed for task ':jmeterEditor'.
00:10:44.667 [ERROR] [org.gradle.BuildExceptionRepor

[2013-10-20 07:19] #26 closed, assigned to nobody

[2013-12-14 23:53] nigelcharman opened #27 "Enhancement: Add option to disable timestamp in result filename"
Hi

Thanks for the plugin.

The Jenkins JMeter plugin expects to find the same filename on each build, and it creates a graph across all builds that have the same filename.

Since the Gradle plugin creates a unique filename each time, we don't see this graph on Jenkins.

Would you add an option to remove the timestamp from the results file name?

For reference, the Maven JMeter plugin has a boolea

[2014-03-19 11:44] yangzhaoxia opened #28 "The GUI run by jmeterEditor can't display components from JMeter Plugins"
I am using 1.3.2-2.9 and I put the latest JMeter Plugins jar file JMeterPlugins-Standard.jar under build/jmeter/lib/ext. My JMeter test file includes some components from JMeterPlugins-Standard.jar saying DummySampler, and the test can be run by jmeterRun although there is 1 ClassNotFoundException exception occurred. I checked the result file, DummySampler did get executed.

[code]

The problem is

[2014-05-08 11:34] #28 closed, assigned to nobody

[2014-07-23 13:13] RoryStraubel opened #30 "Support Gradle 2.0"
Gradle has recently upgraded to version 2.0 with some important updates. This makes the jmeter plugin impossible to install. Thanks.

[2014-08-19 13:06] philipbannon opened #31 "Unable to add third Party Jars"
Hi Guys,

Firstly thanks for making this plugin. Now I seem to be having two sets of problems relating to adding third party jars to the jmeter lib and lib/ext folder.

Firstly:

Basically I'm trying to use the third party jars provide by JMeterPlugins-ExtrasLibs.jar & atlantbh-components. In order to use these jars I need to place jars in the JMeter Lib and Lib/ext folder. When I open the JMeter

[2014-09-16 12:41] henrik242 opened #32 "Add jmeter-gradle-plugin to Gradle Plugin Portal"
jmeter-gradle-plugin is missing from http://plugins.gradle.org/

Please fix :)

[2014-11-06 21:05] asgheralishaik opened #33 "Run Jmeter in non GUI Mode"
I am trying to run jmeter in non GUI mode..trying to use this gradle jmeter plugin for running jmeter in non GUI mode.

I would like to run th following command:-

jmeter.bat -t <MY_FILE>.jmx -n -l /data/jmeter/concurrent/concurrent-test-results.csv

Can we do this using this plugin.

Appreciate any help on this.

[2014-12-12 09:02] harry7ster opened #34 "jmeter-gradle-plugin hangs if Loop count or Thread count is more than 5"
Hi ,

I am running Junit tests on JMeter 2.12 with "Number of Threads" is 10 and "Loop count" is 10 as well.
I use the ".jmx" file generated in this setup for this gradle plugin. But it keeps on running and doesn't produce any report if "Number of Threads" is 10 and "Loop count" is more than 5 .

KIndly suggest any possible workout.

[2015-01-06 14:03] philipbannon commented on #34
Can you tell me how you got JMeter 2.12 working with this plugin? I thought it only worked up to 2.10

[2015-01-06 14:10] harry7ster commented on #34
This plugin only needs '.jmx' file as input.
I used the file created by JMeter 2.12 stanalone.

Does this file has anything to do with version of JMeter?

[2015-01-23 04:06] djangofan opened #35 "Can you add sample documentation for adding a 3rd party jars to Jmeter?"
Can you add sample documentation for adding a 3rd party jars to Jmeter?

I am experimenting with your "gradle jmeter" plugin here:  https://github.com/djangofan/run-jmeter-with-plugins-via-build-tools

In the above link, I am able to add groovy-all.jar (v.2.4.0) ,  opencsv.jar (v3.1), etc.,  as well as control the specific versions of the 3rd party plugins used by Jmeter,  when I use Maven runner

[2015-02-19 20:34] Niravkumar-Patel commented on #17
Hey, I have been through all the above comment.. I had same issue and its been resolved by commenting upgrade_properties file in jmeter properties.
Is it ok if I added the /ext and /junit to my gradle/libs folder to fix those errors, as mentioned in issue #9 and #5.? These will be the blank folder.

[2015-03-10 07:25] martin-grofcik opened #36 "jmeter 2.11 ++ support"
Do you plan to support jmeter 2.11++ versions?

[2015-04-02 03:48] foragerr opened #37 "jmeterListTestPlan should also list test plans added with the jmeterTestFiles property"
running the `jmeterListTestPlan` task looks for test plans in the folder returned by `getSrcDir()`. It should also look in any other custom locations added through properties.

[2015-04-04 23:42] foragerr commented on #35
You can add 3rd party jars to jmeter with the user.classpath property. Semi-colon separated jar files in windows, colon separated in linux.

* Single jar file: user.classpath=/Projects/junit/test1.jar
* Multiple jar files: user.classpath=/Projects/junit/test1.jar;/Projects/junit/test2.jar
* A folder: user.classpath=/Projects/junit

Probably the simplest way to add the user.classpath property to th

[2015-04-04 23:59] foragerr commented on #31
Phillip, as you can see here:
http://mvnrepository.com/artifact/com.github.kulya/jmeter-gradle-plugin

This plugin is available on Maven Central only upto jmeter version 2.9 If you need a jmeter version higher than that, I'm afraid you'll have to build the plugin from source yourself. The source repo here is updated upto jmeter version 2.10

I have forked this project and added support upto 2.13.

[2015-04-05 00:14] foragerr commented on #33
Anything you can do with jmeter on the command-line should be possible with this plugin. You can define most of these values in a properties file and add the properties file to your gradle test by adding this following to your gradle build script:

    jmeterRun.configure {
        jmeterTestFiles = [file("pathtoJMXfile/jmxfile.jmx")]
        jmeterPropertyFile = file ("/pathtoFile/user.properties

[2015-04-05 00:15] foragerr commented on #34
@harry7ster Any errors in your jmeter log?

[2015-04-05 00:24] foragerr commented on #27
@nigelcharman Jenkins jmeter plugin is deprecated in favor of Jenkins performance plugin. The performance plugin takes report names with wildcards, the reports produced by this plugin can be consumed directly.

I am aware I am answering a really old question - I'm just noting that this issue can now be closed.

[2015-04-05 00:47] foragerr commented on #30
Are you guys talking about the bundled gradle wrapper version?

[2015-04-05 14:32] foragerr opened #38 "Plugin throws an error if a user properties file is not created"
Plugin looks in /src/test/jmeter for a jmeter.properties file, or for jmeterPropertyFile to be set in build.gradle. Atleast one of these must exist - even an empty file is ok. Otherwise plugin throws an error

    An error occurred: Could not read JMeter properties file:
    ..\src\test\jmeter\jmeter.properties
    :jmeterRun FAILED

If both files are missing, plugin should assume user does not wa

[2015-04-06 07:03] staleks commented on #30
No.

I have downloaded latest Gradle version 2.3.

This is the build script:

[code]

And here is the error:

[code]

I am not using task wrapper, just plain old gradle command from command line.

Any help would be appreciated.

[2015-04-06 12:25] foragerr commented on #30
Can you please try with 1.3.2-2.6 as well?

[2015-04-06 12:26] staleks commented on #30
Hi, I will,

but that version I don't see as released version :)

[2015-04-06 12:31] foragerr commented on #30
It is.
http://mvnrepository.com/artifact/com.github.kulya/jmeter-gradle-plugin

While you're at it, you should up your jmeter version as well :)

[2015-04-06 12:40] staleks commented on #30
Ok, now we are moving :)

I see that new version is uploaded to centra M2 repo.

But this version is not in github:
https://github.com/kulya/jmeter-gradle-plugin/releases

Or maybe I am somewhere wrong?

Anyway, now I have different error when I run
[code]

Maybe you have some idea what is wrong here?

Thank You

[2015-04-06 12:53] staleks commented on #30
If I execute this task from Eclipse IDE,

here is the "Details log"

[code]
I am pretty sure that I don't have Gradle 2.2.1.

As I said previously, I am using Gradle 2.3

[code]

That might put some light on the problem :)

Thank You

[2015-04-06 13:39] foragerr commented on #30
Ah I see, the releases page needs to be updated.

The problem isn't the plugin anymore, its jmeter :) This plugin runs jmeter as a separate process, jmeter logs aren't show in the build output. You should look at the jmeter log, I believe the default location is `projectfolder/build/jmeter`.

[2015-04-06 13:41] staleks commented on #30
Does it means that I need to have jmeter installed in
projectFolder/build/jmeter ?

[2015-04-06 13:44] foragerr commented on #30
No, the plugin created the folder

[2015-04-06 13:55] staleks commented on #30
You are right,

there is folder projectFolder/build/jmeter created.

And plugin creates ext and junit folders in jmeter. And further more there are two properties files
saveservice.properties and upgrade.properties. But nothing more :(

I think that problem still is in this error log

[code]

[2015-04-06 14:18] foragerr opened #40 "Jmeter stderr is not captured anywhere"
Jmeter is launched as a separate process

    ProcessBuilder processBuilder = new ProcessBuilder(createArgumentList(specs, workingDirectory))

The stdout (and stderr) of this process is not captured anywhere. If an error occurs before jmeter is launched completely, then jmeter.log is not created and the launch error is lost, making debugging challenging.

**workaround**: redirect stdout to parent

[2015-04-06 14:46] djangofan commented on #30
Nice to see you guys working on this.  I searched Maven central and the latest  version of this plugin that I see is 1.3.2-2.9 ( http://search.maven.org/#search%7Cga%7C1%7Ca%3A%22jmeter-gradle-plugin%22 ) .  Shouldn't I see a version number like 1.3.3-2.13? This fix was opened in July 2014, after 1.3.2 was released so shouldn't the next version we get have a 1.3.3 on it?

[2015-04-06 14:49] djangofan commented on #35
Thanks for the fork. :-)

[2015-04-06 14:58] foragerr commented on #30
@djangofan you're right, I believe we need @kulya to perform releases.
Meanwhile, you can always build from source :)

[2015-04-06 15:01] #36 closed

[2015-04-06 15:07] foragerr commented on #35
Sorry, I am not familiar with the plugin packs. If you just downloaded jmeter binaries, what do you need to change to support plugin pack 1.2.1?

[2015-04-06 15:12] djangofan commented on #35
The plugins are just simple Maven dependencies:  http://search.maven.org/#search|ga|1|jmeter-plugins   .   I just couldn't figure out where to specify those dependencies in the Kulya  launcher.   After you add the dependencies for 1.2.1, you should see the "RemoteWebDriver" sampler , among many others show up in the Sampler menu.

[2015-04-06 15:17] foragerr commented on #40
closed in pull request #39

[2015-04-06 15:35] foragerr commented on #35
https://github.com/kulya/jmeter-gradle-plugin/blob/master/src/main/groovy/com/github/kulya/gradle/plugins/jmeter/JmeterAbstractTask.groovy#L118

This line says you should be able to define `jmeterPluginJars` property in the build.gradle file. Not entirely sure what value this property takes.

[2015-04-06 15:44] kulya commented on #37
Can you please provide simple project that i can use for testing this feature?

[2015-04-06 15:49] foragerr commented on #35
It would be convenient to be able to add gradle-dependencies as jmeter plugins directly instead of having to specify locations of jars - dont think the current implementation does that. It will have to be an enhancement

[2015-04-06 16:02] foragerr commented on #37
I started working on a fix for this, I will send you my simple test project when I get back to my dev machine this evening. The problem I was facing is, if I define jmeterTestFiles in build.gradle like this:

    jmeterRun.configure {
        jmeterTestFiles = [file("pathtoJMXfile/jmxfile.jmx")] //-t
    }

`getJmeterTestFiles()` returns the `List<File>` in jmeterRun task, but is `null` in the jme

[2015-04-06 17:17] foragerr opened #41 "Dependency-exclude added to build.gradle do not show up in pom files created using maven plugin"

[2015-04-06 23:22] foragerr commented on #37
@kulya uploaded simple test project here: https://github.com/foragerr/jmeter-gradle-plugin-test1

if you run `gradle jmeterrun` it runs **non**DefaultLocation,jmx as specified in build.gradle. However if you run `gradle jmeterListTestPlan` it lists DefaultLocation,jmx instead.

[2015-04-08 06:08] #41 closed

[2015-04-08 16:58] #40 closed

[2015-04-08 17:20] foragerr commented on #37
The top answer [here](http://stackoverflow.com/questions/13072034/avoid-duplication-between-similar-gradle-tasks) might be one way to do this.

[2015-04-09 09:34] staleks commented on #30
OK, sorry for delay, but I had some "burning" issues on my daytime project :)

Now, I've cloned repository, build from source and got following artifacts in ${PROJECT_HOME}/build/libs folder:
- jmeter-gradle-plugin-1.3.3-2.13-SNAPSHOT.jar,
- jmeter-gradle-plugin-1.3.3-2.13-SNAPSHOT-javadoc.jar and
- jmeter-gradle-plugin-1.3.3-2.13-SNAPSHOT-sources.jar

Can you help me now how to integrate this ver

[2015-04-09 09:58] staleks commented on #30
Following "Maven logic" (as I am coming from this world and I am new to Gradle), I guess that
I need to have this JAR in ~/.m2/repository (then I can have mavenLocal() as repository for this plugin)

But building this project from source, doesn't generate pom.xml and I am afraid that just placing this JAR
"jmeter-gradle-plugin-1.3.3-2.13-SNAPSHOT.jar" in ~/.m2/repostiory/com/github/kulya/jmeter-gr

[2015-04-09 12:31] foragerr commented on #30
@staleks 1.3.3 and 1.3.4 binaries are now built and published to maven central - except it may take some time for them to appear there. Meanwhile you can use them from this maven repo: https://oss.sonatype.org/content/groups/public

1.3.3 has a different defect, you should use 1.3.4

If you still want to build from source, you can add `apply plugin: 'maven'` to your build.gradle file and then you

[2015-04-09 14:21] djangofan opened #43 "Need to put a wildcard on jmeter-plugins in order to load libs in jmeterPluginJars"
The 3rd party library include requires that I used the syntax "jmeter-plugins.*"  .   I think the intention here was to only be required to use "jmeter-plugins", just like the other libraries.    This request is just to adjust the regular expression so that loading jmeter-plugins is more like loading the other libraries.

This is the workaround until it is fixed:
jmeterPluginJars = ["groovy","guav

[2015-04-09 17:12] foragerr commented on #35
@djangofan Can you close this issue please?

[2015-04-10 02:03] djangofan commented on #35
Ok, I will fork the project , make the doc change myself, and submit a pull request instead.

[2015-04-10 02:03] #35 closed

[2015-04-10 02:08] djangofan commented on #17
As far as issue #9 goes, if you launch Jmeter 2.13 using the method I prepared in my GitHip repo, I doubt you would have any reason to add a /ext  or /junit folder to your Jmeter:
https://github.com/djangofan/launch-jmeter
If you look at the build.gradle in the above repo, there is a mechanism to include whatever versions of any 3rd party libraries that you like.   It is fully tested and vetted fo

[2015-04-10 02:44] foragerr commented on #43
I just looked at your pom.xml here: https://github.com/djangofan/launch-jmeter/blob/master/pom.xml#L47
you seem to be calling out each jmeter plugin explicitly by name?

[2015-04-10 06:29] djangofan commented on #43
I am confused as to why you are referring to the pom.xml  in a project where I am only referring to the build.gradle file.

[2015-04-10 11:33] staleks commented on #30
Ok, this seems working :)

just for future users:

buildscript section:

[code]

and repostiories:

[code]

At least until this version is publicly available on Maven Central.

Thnx for support.

[2015-04-10 11:45] staleks commented on #30
Now I have other problem with jmeter report in HTML format.

But let's open another issue for this.

NOTE: this one can be closed, since starting problem is not more an issue.

Thnx

[2015-04-10 12:00] staleks opened #45 "HTML report, jmeter-report error"
Hi,

I've added simple JMeter test (Testing 200 HTTP Status Code check on Google page).

Test is executed, I have xml as report
1428666959184,194,HTTP Request,200,OK,Thread Group 1-1,text,true,18786,1,1,176

But just before finishing Gradle task there is an error that I can see:

[code]

When I try to examine file:
google-homepage.jmx-20150410-1355-report.html

it is empty.

Can you please put som

[2015-04-10 12:04] foragerr commented on #43
I apologize, I should've been clearer. I was curious how other build-plugins implemented jmeter-plugin handling, in particular how maven-jmeter plugin does it - so I looked at your pom.

More relevant to this issue: If you listed each plugin by its full module-name like "jmeter-plugins-common"  in build.gradle, (like you did in pom.xml), it would still work without the need for wildcards or code-c

[2015-04-10 12:07] foragerr commented on #45
Can you show your results xml file please? is it in XML format?

[2015-04-10 12:41] foragerr commented on #43
I agree with your stance on documentation, starting a wiki page.
https://github.com/kulya/jmeter-gradle-plugin/wiki

[2015-04-10 13:07] staleks commented on #45
You might be right, it can be the problem.

Here is the content of "XML file"

[code]

As you can see it is CSV :)

Further more, I've put this project in GitHub, so you can also see for yourself:
https://github.com/staleks/gradle-jmeter-example

[2015-04-10 13:52] foragerr commented on #45
https://github.com/staleks/gradle-jmeter-example/blob/master/src/test/jmeter/google-homepage.jmx#L77

Check the "save as xml" checkbox in your listener configuration.

[2015-04-10 14:50] djangofan commented on #43
Yes, I see what you mean.  Good point.   I supposed I could do that.  I was trying to account for that part of the kulya code that is matching the jmeter-plugins, where it seems it was intended to be done as a group wildcard.

[2015-04-10 18:31] staleks commented on #45
I've changed that checkbox as you stated, but problem still persists:

[code]

Check test now in master branch :(

[2015-04-11 11:51] foragerr commented on #45
Hmm, seems to be a defect in the plugin. I cant find where log format is being set to CSV, because jmeter default is XML. If you need a workaround, add this line to your jmeter.properties:

[code]

[2015-04-12 07:31] staleks commented on #45
Yes.

I've tried this solution and it works.

You may close this ticket.

[2015-04-12 15:54] philipbannon commented on #31
@foragerr thanks for getting back to me and for the info.

Stupid question but if I build the plugin from source how do I set the version of JMeter that I want to use?

Thanks for the response!

[2015-04-12 15:56] djangofan commented on #31
@philipbannon  The latest version of kulya jmeter-gradle-plugin allows you to run nearly the latest version of Jmeter: 1.3.4-2.13, which is version 2.13 .   You can try my Gradle launcher to get it running:  https://github.com/djangofan/launch-jmeter

[2015-04-12 15:59] philipbannon commented on #31
@djangofan perfect thanks for that, i'll give it a try when I'm in work tomorrow.

Thanks again

[2015-04-17 13:42] staleks opened #48 "How to solve specific assertions?"
Hi,

I want to improve my tests, in a way, to test response, but not just response code but further more to test content of the response.

Response is XML, and I've added XMLAssertion and XPath assertion.

Now when I execute test I am getting this error:

[code]

Do you maybe know how to overcome this problem ?

Thank You

[2015-04-17 14:41] djangofan commented on #48
If you can't find the way out of this dependency issue, one way to work around it is to create a JSR223 Assertion sampler, set it to use the groovy-all.jar,  and then use XMLSlurper  from the Groovy package to parse it.

Kulya doesn't add the groovy-all.jar by default, and so you will need to add that dependency.   I think it is a basic .jar to add because SoapUI also includes it.

[2015-04-17 14:52] staleks commented on #48
Hi @djangofan,

as I am new to this plugin, maybe I'm missing something from README.md.

How I can add 3rd party library to jmeter-plugin ?

[2015-04-17 15:11] djangofan commented on #48
I have an example here:  https://github.com/djangofan/launch-jmeter  .   Also , click the WIKI link in the main Kulya  jmeter-gradle-plugin project for more info.

[2015-04-20 13:02] staleks commented on #48
Today I found a few minutes to try following:

build.gradle file

[code]

When I execute task 'printBuildScriptClasspath', I've noticed that I have:

[code]

NOTE: please note that there is:
xml-apis-2.0.2.jar

I've downloaded this JAR and there is no ElementTraversal in org.w3.dom

There is such class in one of previous versions of xml-apis like 1.4.01.

Is there a way that I can exclude specific

[2015-04-20 13:28] staleks commented on #48
I was asking for help too early :)

Here is a work arround:

build.gradle

[code]

[2015-04-20 13:36] staleks commented on #48
From my point of view, this ticket can be closed.

[2015-04-26 23:04] jk1 commented on #30
I'm facing the same problem with 1.3.4-2.13 and gradle 2.3. My buildscript is as follows:

[code]

Running ./gradlew jmeterRun returns only "Something went wrong during jmeter test execution, Please see jmeter logs for more information" with no actual log to look into. Interestingly, jmeterListTestPlan works:

[code]

[2015-04-27 00:32] foragerr commented on #30
@jk1 Where is your `req.jmx` file located? If it is in `/src/test/jmeter`, then can you please comment out the `jmeterTestFiles =` line in your build.gradle?

[2015-04-27 07:03] jk1 commented on #30
@foragerr, thanks for looking into this. I've tried with `jmeterTestFiles = ...` line removed, but it doesn't seem to make any difference. Here's the minimal example, that reproduces the problem in my environment: https://github.com/jk1/Jmeter-plugin-demo

[2015-04-27 14:17] foragerr commented on #30
@jk1 Thank for the minimal example, certainly makes debugging easier :)

I ran jmeterrun on your example and got this:

[code]

This is a known issue #38 , fix is waiting for a pull request #47 to be accepted.

The workaround is to add a  jmeter.properties file in either `/src/test/jmeter` or using `jmeterPropertyFile` setting, to point to a properties file. Even a blank properties file is fine.

[2015-04-28 18:11] jk1 commented on #30
@foragerr, that's a good question. I've tried the same code in a clean virtual environment and it works exactly as you're describing, printing:

[code]

so I suppose it's an issue with my laptop or OS configuration and not with the plugin.
Thanks a lot for your helpful advice, with jmeter.properties in place it seems to be working quite fine.

[2015-05-04 20:05] vlaadbrain opened #49 "Too many jmeterPluginJars == "The filename or extension is too long""
Hello,  i'm experiencing a problem with the use of jmeterPluginJars,  at the moment, because of the way the plugin adds most of the plugins to the command line and i have about 8 jars in there with their full gradle cache path in them.  Including UUID's and whatever else gradle adds to the path.  and that is making the editor java command line too long and thus "The filename or extension is too lo

[2015-05-15 14:21] foragerr commented on #49
Can you please run gradle with --debug and post the generated classpath value as a gist please?

aside: Filename or extension too long sounds like a windows limitation rather than a java limitation btw. Are you on windows?

[2015-05-15 20:04] vlaadbrain commented on #49
yeah, i'm on windows. i do have a whole lot of extra libs, i don't want to post here though.

[2015-05-27 13:26] webant opened #50 "How to do a text of executed performance tests buildLog.log to visible?"
Hi,
This record allowed me to make the text available to perform tests on the console:
<i>check.dependsOn.add ('jmeterRun')</i>

But, I am not sure that is the right way, if there another?
And,

But it is not clear: How to do a text of executed performance tests 'buildLog.log' to visible?

The text from a file' build-log :

<i>:jmeterRun
Start execute the task' loadtests:</i>

<b>(here empty in th

[2015-05-27 13:46] foragerr commented on #50
Jmeter output is logged separately in `jmeter.log` which by default is created in the location `projectfolder/build/jmeter`

[2015-06-11 18:35] bobtins opened #52 "Still getting dependency errors due to bogus JMeter 2.13 POM file"
Using gradle 2.4.

build.gradle:

[code]

output:

[code]

It's not a bug in the plugin code or config, it's a problem with the ApacheJMeter_parent POM file. I saw the exclusions in the plugin POM, but for some reason they are not taking effect for the JMeter core, http, or components...is that because they are really getting dependencies from the parent POM?

Workaround was to create a local file

[2015-06-11 18:55] foragerr commented on #52
The POM exclusions are exactly to get around this. Last I tested, it seemed to work fine. Will try and reproduce this. Only difference that stands out is gradle version. Can you check with gradle v2.3 please?

[2015-06-12 17:33] bobtins commented on #52
Just downloaded gradle 2.3, switched my path to it, tried again, and got the same result.
I agree that the POM exclusions should fix this. The confusing thing is that there are a whole lot more ApacheJMeter_\* POMs that use the problematic ApacheJMeter_parent which work (like _ftp, _ldap, etc.), but only _core, _http, _components, and jorphan seem to ignore the exclusion.
Should I try blowing away

[2015-06-29 17:26] djangofan opened #55 "Plugin is not passing "-D" args from Gradle to the JVM running Jmeter?"
What appears to me happening for me is that the jmeter-gradle-plugin  is not passing "-D" args that were passed to Gradle on the command line to the JVM running Jmeter.  I believe this should work since the 'maven-jmeter-plugin' has this behavior.  It appears that this jmeter-gradle-plugin  is somehow filtering out the args?  I created an example project which I think demonstrates this problem.

h

[2015-06-29 19:02] foragerr commented on #55
Can you try `-J` as well please?

ref: http://jmeter.apache.org/usermanual/get-started.html#override

[2015-06-29 19:04] djangofan commented on #55
Yes, I tried it.  Gradle complains that "-J" is not a valid argument format.  So, it needs to be in the form of "-D" arg evidently, from the point of view of Gradle (not Jmeter of course).

[2015-06-29 19:23] foragerr commented on #55
From a quick look, it seems like a very small subset of system properties are picked up explicitly. That might need to change to pick up all system properties.

[code]

From [here](https://github.com/kulya/jmeter-gradle-plugin/blob/master/src/main/groovy/com/github/kulya/gradle/plugins/jmeter/JmeterRunTask.java#L227)

As a possible workaround, what happens if you add the following text to the file

[2015-06-29 19:28] djangofan commented on #55
Yes, adding the props to a properties file does work but I didn't say that was a problem.   I need to parameterize these tests from Jenkins, which requires system properties, preferrably passed as "-D" args.   I'll have to keep using Maven until I figure this out.   If I knew what format that env key-val pairs could be passed to 'jmeterUserProperties' then that would be a good workaround (by passi

[2015-06-29 20:14] foragerr commented on #55
I think I get what you're asking now - also saw your wiki edit. Sorry, I'm a bit slow today. The relevant code is here:

[code]

[Link](https://github.com/kulya/jmeter-gradle-plugin/blob/master/src/main/groovy/com/github/kulya/gradle/plugins/jmeter/JmeterAbstractTask.groovy#L157)

looks like it expects a List of strings, which are then added as `-JstringHere`. So I would try adding:

[code]

[2015-06-29 20:44] djangofan commented on #55
Thanks "foragerr".  That worked as a great workaround.  I'll update my Git project.  It works now.   I can't pass "-D" args but I sure can parse "-P" args and then set them on the  'jmeterUserProperties' variable.

For example:
   `jmeterUserProperties << "userThreads=" + project.property('userThreads')`

[2015-06-30 17:59] djangofan commented on #27
@foragerr  I would like to re-open dialog on this issue.   I cannot use the  "Publish HTML reports" plugin in Jenkins because it is unable to publish (save HTML report files from previous builds)  Jmeter reports when the reports have a timestamp on the file name.   This has become a problem that is not easy to solve otherwise.

[2015-07-01 01:51] djangofan opened #56 "Jmeter editor wont start when 1.3.0 plugin pack is specified in build.gradle"
Using version 1.3.4-2.13 of jmeter-gradle-plugin , Jmeter editor starts but throws an error in the console (and fails to load the plugin packs) when 1.3.0 plugin pack is specified in build.gradle .

To reproduce:
1. download my project as a .zip file:  https://github.com/djangofan/launch-jmeter
2. edit build.gradle, line#8, and specify version 1.3.0
3. execute 'gradle clean printBuildScriptClasspa

[2015-07-01 15:15] foragerr commented on #27
I suppose there will be other plugins that expect constant filename as well. This is an easy fix - I will put in a change this weekend.

Except, my previous pull requests are still pending. I'm really tempted to do a hard fork. I've seen some other people say this as well.

[2015-07-01 15:17] foragerr commented on #55
Happy that works, but that is one ugly workaround. Definitely need to pick up all `-D` arguments and pass them to the jmeter execute call. Will take a look at this.

[2015-07-01 16:03] djangofan commented on #27
I tried adding this jmeter option in jmeter.properties , but the plugin seems to ignore it and adds the timestamp anyways:
jmeter.save.saveservice.timestamp_format=none

It would be really great if the plugin actually would honor the configuration of the  jmeter.save.saveservice.  properties.

[2015-07-01 16:24] djangofan opened #57 "There is some need for a "gradle jmeter analysis plugin""
Another thing we need is a "gradle jmeter analysis plugin", sorta like the 'afranken/jmeter-analysis-maven-plugin'.   Anyone have the technical ability to create it and get it started?

[2015-07-01 16:25] djangofan commented on #57
Changed issue name.

[2015-07-01 21:48] djangofan commented on #55
Yes, it's critical to get all the "-D" args because if you use Jenkins and if you want to parameterize the job, then using -P wont work.   Parameterized builds pass only "-D" args.

[2015-07-06 20:40] foragerr commented on #27
Does this work for you?

[code]

[2015-07-06 20:46] djangofan commented on #27
Sounds like it would work fine for Jenkins and I...
On Jul 6, 2015 1:40 PM, "RaGe" notifications@github.com wrote:

[2015-07-08 14:40] foragerr commented on #27
Need an opinion: When trying to save results with no timestamp, if a results file already exists, should it be overwritten?

[2015-07-08 18:38] djangofan commented on #27
Yes.  When the Jenkins html publisher plug in archives the file on each
build, it makes a copy and so overwriting is not a problem imho
On Jul 8, 2015 7:40 AM, "RaGe" notifications@github.com wrote:

[2015-07-08 19:22] nigelcharman commented on #27
I agree it should be overwritten. For reference, I just tried the Maven plugin and it overwrites the results file and log.

[2015-07-09 00:55] foragerr opened #58 "Extended reports fails to take default values if not explicitly declared"
This is a defect in pr #51
If either of these are not declared in build.gradle/jmeterRun.configure,

[code]

Running `gradle jmeterRun` throws an exception instead of taking default values for these two parameters.

[2015-07-09 01:02] foragerr commented on #27
Fix implemented in my fork. I also merged all of the other pending PRs from this repo. I will look into releasing to maven central.

@djangofan Could you try out the changes please? Let me know if you need the plugin binary.

[2015-07-13 18:49] djangofan commented on #27
@foragerr  Yes, I will test it as soon as I get a chance to build a .jar from your project.  I looked at your changes and they look like they will work.   I'll get back to you as soon as I can, probably this week sometime.

[2015-07-14 00:41] foragerr commented on #27
You can now apply the plugin this way:

[code]

Also don't forget to include some variation of the following in the `jmeterrun` config

[code]

I moved a bunch of things around, some things can be very broken. I'm trying to write some unit tests. Meanwhile please report any issues here: https://github.com/jmeter-gradle-plugin/jmeter-gradle-plugin/issues

[2015-07-14 03:30] djangofan commented on #27
@foragerr  Ok, I made an attempt to run and it failed.   Here is my repo, updated to use your new plugin:
https://github.com/djangofan/launch-jmeter

I created a 'runTestsWithGradle.bat' script.   When you run it, it generates a XML output, but it FAILS to generate a HTML report and I am not sure why.

Also, I noticed something I didn't notice before:    The 'jmeter.save.saveservice.timestamp_form

[2015-07-14 12:28] foragerr commented on #27
Moving this conversation here: https://github.com/jmeter-gradle-plugin/jmeter-gradle-plugin/issues/4

[2015-07-17 22:01] cfalba80 opened #59 "Apache mongodb not loaded in plugin"
Hello,

I am using latest jmeter gradle plugin version 1.3.4-2.13, but when i try to run a jmeter test i am getting this error in the jmeter.log file:
2015/07/17 16:49:11 ERROR - jmeter.JMeter: Error in NonGUIDriver java.lang.IllegalArgumentException: Problem loading XML from:'D:\GAP_repository\planning-service\receipt-service\src\test\Load&ReviewReceipts.jmx', conversion error com.thoughtworks.xs

[2015-07-17 22:49] foragerr commented on #59
Hi, the dev here seems inactive, I created a fork of this project here: https://github.com/jmeter-gradle-plugin/jmeter-gradle-plugin

Can you try with that plugin as well please? I imagine the problem would still exist, but if you can verify, I will take a look into this.

[2015-07-18 23:43] cfalba80 commented on #59
It still doesn't work. Do you have any advice on this?

Thanks

[2015-07-20 03:38] foragerr commented on #59
Continuing this conversation here: https://github.com/jmeter-gradle-plugin/jmeter-gradle-plugin/issues/13

[2015-07-21 02:21] cfalba80 commented on #59
Hello,

this is the url of the project: https://github.com/cfalba80/TestJmeter

Thanks.

[2015-07-21 02:21] #59 closed, assigned to nobody

[2015-07-21 17:20] foragerr commented on #56
v0.5.3 uses jmeter-plugins-version 1.3.0 Please verify if this issue still occurs.

[2015-07-21 17:53] djangofan commented on #56
Ok.  I will tonight.  Sorry,  but work slows me down.
On Jul 21, 2015 10:20 AM, "RaGe" notifications@github.com wrote:

[2015-07-21 17:59] foragerr commented on #56
Oops, just realized I'm commenting on the wrong issue :)
Take your time!

[2015-07-21 21:06] cfalba80 commented on #49
Yes, it is similar, using windows too.

[2015-08-04 09:17] jovistruck commented on #25
Have the same problem. Used a workaround to explicitly setting report dir to

[code]

kulya, here's my debug log

[code]

[2015-08-05 14:16] foragerr commented on #25
Hi @jovistruck, there is a more active fork of this project over at https://github.com/jmeter-gradle-plugin/jmeter-gradle-plugin You might have to change your config a bit to use that project, but if your issue still persists with that plugin, I will be able to help you.

[2015-11-06 16:23] lourish commented on #55
Did anything happen with this? I've got to pass JVM parameters to jmeter (to set up a keystore) and I see no way to pass them either by -D or in gradle

[2015-11-06 18:32] foragerr commented on #55
Hi @lourish I maintain a fork of this project over [here](https://github.com/jmeter-gradle-plugin/jmeter-gradle-plugin). If you're willing to use that plugin, I'm happy to help you out over there. Please raise a new issue for that project.

If you prefer to use this version of the plugin, does the workaround posted above not work for you?

[2015-11-09 10:43] lourish commented on #55
Thanks foragerr, this workaround allows you to set jmeter properties but I need to pass properties to the underlying JVM (see http://jmeter.apache.org/usermanual/component_reference.html#Keystore_Configuration). I'm happy to use the other plugin and will raise an issue. Is this kulya plugin dead?

[2015-11-11 15:35] dkirrane commented on #52
Hit this same issue in Maven with:

[code]

[2015-11-12 00:49] foragerr commented on #52
@dkirrane are you facing this problem while using this plugin? Or do you mean with jmeter 2.13 and maven in general?

for jmeter and maven, adding these exclusions helps:

[code]

As for this plugin, since we cant find the project owner, I started maintaining a fork over at https://github.com/jmeter-gradle-plugin/jmeter-gradle-plugin This issue is currently fixed, with some additional enhancements

[2016-02-29 18:23] ssuummit opened #60 "Running jmeter in non gui mode"
Hi,

I want to run Jmeter in non gui mode. In default jmeter we have -n option to run in non gui mode.
How can we achieve the same in this gradle jmeter plugin as we can not pass -n to gradle jmeterRun command?

[2016-02-29 20:58] foragerr commented on #60
Running `jmeterRun` with this plugin always runs jmeter with `-n` enabled. You can use `jmeterEditor` to launch GUI, but that is meant to be used only to edit tests.

BTW, I maintain a newer version of this plugin over at https://github.com/jmeter-gradle-plugin/jmeter-gradle-plugin

[2016-03-01 05:51] ssuummit commented on #60
Hey,
Thanks a lot for helping me. I'll check the newer version.

[2016-03-01 13:00] foragerr commented on #60
If your question is answered, you should close this issue.

[2016-03-01 19:15] #60 closed, assigned to nobody

[2016-03-23 20:27] bostone opened #61 "Unable to open JMX file in embedded JMeter"
I have a file that was created in the basic download of JMeter (same version as embedded) that is using JDBC Sampler. Yet when I try to open this file in the plugin supplied editor or run headless test I get the following exception:

[code]

Am I missing some plugins? I noticed that my build/jmeter/lib/ext directory is completely empty

[2016-03-25 19:00] seungchanlee opened #62 "ERROR - jmeter.threads.JMeterThread: Test failed! java.lang.NoClassDefFoundError: org/w3c/dom/ElementTraversal"
I'm getting this exception when executing jmeterRun from gradle build  ...   Any help available for me?

gradle build file -

apply plugin: 'jmeter'
apply plugin: 'java'

buildscript {
    repositories {
        mavenCentral()
    }

[code]

}

jmeterRun {
    jmeterTestFiles = [ file("src/test/jmeter/DiceTest.jmx") ]
}

The stack trace -2016/03/25 12:48:50 ERROR - jmeter.threads.JMeterThread: Tes

[2016-03-27 13:21] foragerr commented on #61
This error does indicate that Jmeter is missing the class `org.apache.jmeter.protocol.system.SystemSampler` I believe this is part of core jmeter though, not an external plugin.

I maintain a newer version of this project over at https://github.com/jmeter-gradle-plugin/jmeter-gradle-plugin, If you can try using that plugin and continue to have this issue, I can look into it. Please raise a new iss

[2016-04-21 03:55] anujkumar04 opened #63 "Does not work if I have tomcat gradle plugin in the build file"
The tomcat dependencies are not resolved. below is the build file:

buildscript {
    repositories {
        mavenLocal()
        jcenter()
    }
    dependencies {
        classpath 'com.bmuschko:gradle-tomcat-plugin:2.2.4'
        classpath ('com.github.kulya:jmeter-gradle-plugin:1.3.4-2.13') {
          exclude group: 'servletapi'
          exclude group: 'org.bouncycastle'
        }
    }

}

[2016-04-21 11:56] sumangongali opened #64 "Could not able to see the plugin options in JmeterEdit"
I could not able see the extra plugin options in Jmeter gui which is just launched by task jmeterEditor

like Jp@GC JSON assertion, jmeter JP@GC graph

would please tell me what i am missing to get them in  jmeter gui or at runtime .

my dependices section of code is

`classpath (group: 'kg.apc', name: 'jmeter-plugins-standard', version: pluginsVersion) {
            exclude group: 'commons-math3'

[2016-04-21 13:59] foragerr commented on #63
Hi, this project has been dormant for a while. I maintain an alternative jmeter plugin over at http://jmeter.foragerr.net/ that was originally based on this plugin, but has seen a significant rewrites and bug fixes. I would suggest you try that plugin and if you still have an issue, please raise a new issue [here](https://github.com/jmeter-gradle-plugin/jmeter-gradle-plugin/issues)

[2016-04-21 13:59] foragerr commented on #64
Hi, this project has been dormant for a while. I maintain an alternative jmeter plugin over at http://jmeter.foragerr.net/ that was originally based on this plugin, but has seen a significant rewrites and bug fixes. I would suggest you try that plugin and if you still have an issue, please raise a new issue [here](https://github.com/jmeter-gradle-plugin/jmeter-gradle-plugin/issues)

[2016-04-21 15:32] sumangongali commented on #64
Sure foragerr,

Thanks,
Suman.

[2016-04-21 19:53] djangofan commented on #64
foragerr,

I havent looked at your plugin in months, but I remember eventually giving
up and getting frustrated that  you thought you had the jmeter plugins
working BUT when you actually start Jmeter and look inside of it, the
plugin features are not there.  NOTE: The old Kulya Maven plugin had a
similar issue.   I wish someone would actually verify these things work
before releasing...   The Groo

[2016-04-21 20:01] foragerr commented on #64
@djangofan I eventually fixed it, for some reason I thought you checked and confirmed that it does work. Would be great if you can take a look at the newest version 1.0.5 . The gradle task to launch gui is `gradle jmGui`

[2016-04-22 00:26] anujkumar04 commented on #63
In the above build file there is a space in the repository url, even after removing the space the issue exists with this plugin.  But after updating to http://jmeter.foragerr.net/ it works. thank you foragerr

[2016-04-22 00:26] #63 closed, assigned to nobody

[2016-08-12 21:13] josearesvi opened #65 "Getting jmeterRunError: in NonGUIDriver com.thoughtworks.xstream.io.StreamException: Cannot create XmlPullParser"
I have a Springboot application that I would like to run load test on it, I define the following on my gradle:

[code]

jmeterRun.configure {
    jmeterTestFiles = [file("build/jmeter/taxes-api.jmx")]
    jmeterPropertyFile = file("src/test/resources/jmeter.properties")
}

Im attaching the .jmx file but the error Im getting is:

[taxes-api.txt](https://github.com/kulya/jmeter-gradle-plugin/files/4

[2016-08-16 22:48] foragerr commented on #65
Hi @josearesvi . I maintain a fork of this project over at https://github.com/jmeter-gradle-plugin/jmeter-gradle-plugin with some additional features and bug fixes. You could try it out and raise an issue there if you still have  a problem. I may be able to help you out.

[2017-05-14 10:07] Mahesh99 opened #66 "org.apache.jorphan.util.JMeterError: No action handlers found - check JMeterHome and libraries"
I'm trying to run Jmeter from Gradle. I'm able to execute the `jmeterRun` and it is successfully generating the results in xml file. But it is  generating a blank `html` file . I have specified the TestPlan as given below

    <?xml version="1.0" encoding="UTF-8"?>
    <jmeterTestPlan version="1.2" properties="2.8" jmeter="2.13 r1665067">
      <hashTree>
        <TestPlan guiclass="TestPlanGui" t

[2017-10-24 05:05] #48 closed, assigned to nobody

[2017-11-18 01:31] birajendunetskope commented on #65
I am also facing the same issue, @josearesvi , did you find a solution yet?

[2018-02-20 04:47] hgakhr opened #67 "Not able to use JMeter properties"
Hi Team,

Thanks for this gradle plugin. This plugin works very well.

But I am having the issue to specify JMeter properties .
Like reportDir,jmeterIgnoreFailure ,jmeterIgnoreError and etc .

Can you please provide me the a example and let me know how i can use these properties in build.gradle file .

As I have tried 2 ways to use them but no luck.

Passing the properties in build.gradle file
jme

[2018-07-20 16:09] thecomputerguyjeff opened #68 "Ignore results of setup thread groups"
Hello, I have a few setup thread groups to get a few calls into our applications before the actual performance test runs. I don't want to fully ignore these tests, but I DO want to ignore their results, and only use the actual test results. Is this possible?